/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mar-2020, 19:38:58
    Author     : Jesús
*/

#latIzq{
    display:inline-block;
    box-sizing: border-box;
    width: 15%;
    background-color: darkcyan;
}

ul.listaCat{
    list-style-type: disclosure-closed;
}

ul.listaSub{
    list-style-type: circle;
}

#centro{
    display:inline-block;
    box-sizing: border-box;
    width: 66%;
    margin: 0 2% ;
    background-color: white;
}

#latDer{
    display:inline-block;
    box-sizing: border-box;
    width:15%;
    background-color: darkcyan;
}

#imagenPerfil{
    border: solid 2px white;
    height: 75px;
    width: 75px;
}

#navbarBuscador{
    border: solid 0.5px gray;
    margin-bottom: 15px;
    background-color: lightgray ;
}

#botonBuscar{
    background-color: darkcyan;
    border-color: darkcyan;
}

#dropdownMenuLink{
    color: darkcyan;
}

#cajaProducto{
    width: 100%;
    height: 200px;
    margin: 20px 0;
}

#tituloProducto{
    font-weight: bold;
    color: darkcyan;
    font-family: fantasy ;
}

#tituloProducto .badge{
    color: white;
    font-size: small;
}

#imagenProducto{
    width: 150px;
    height: 125px;
    margin-left: 50px;
    margin-right: 25px;
}

#descripcionProducto{
    font-family: Times New Roman ;
    width: 25%;
}

#descripcionProducto p{
    font-size: small;
}

#cuerpoProducto .col{
    flex-basis: auto;
    flex-grow: unset;
}

#precioProducto{
    width: 35%;
    font-family: Times New Roman;
}

#precioProducto h5{
    color: goldenrod;
    display: inline-block;
}

#verMas{
    background-color: darkcyan;
    margin-top: 40px;
    height: min-content;
}