/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mar-2020, 19:38:58
    Author     : Jesús
*/


#bienvenida{
    font-family:Comic Sans, Times New Roman, cursive;
}

#latIzq{
    display:inline-block;
    box-sizing: border-box;
    width: 20%;
    background-color: darkcyan;
}

ul.listaCat{
    list-style-type: square;
}

ul.listaSub{
    list-style-type: upper-roman;
}

#centro{
    display:inline-block;
    box-sizing: border-box;
    width: 73%;
    margin-left: 2%;
    margin-right: 5%;
    background-color: white;
}

#latDer{
    display:inline-block;
    box-sizing: border-box;
    width:20%;
    background-color: darkcyan;
}

#navbarBuscador{
    border: solid 0.5px gray;
    margin-bottom: 15px;
    background-color: lightgray ;
}

.categoriaBuscador{
    background-color: darkgray;
    color: white;
    font-style: italic;
}

.custom-select:disabled{
    background: gainsboro !important;
    color: gray !important;
}

#categoriaBuscador select:disabled{
    background: gainsboro;
}

.botonBuscar{
    background-color: darkcyan;
    border-color: darkcyan;
}

.custom-select{
    width: auto;
    padding-bottom: .225em;
    paddint-top: .225em;
}

#cajaProducto{
    width: 100%;
    height: 200px;
    margin: 20px 0;
}

#tituloProducto{
    font-weight: bold;
    color: darkcyan;
}

#tituloProducto .badge{
    color: white;
    font-size: small;
}

#imagenProducto{
    width: 150px;
    height: 125px;
    margin-left: 50px;
    margin-right: 25px;
}

#descripcionProducto{
    font-family: Times New Roman ;
    width: 35%;
}

#descripcionProducto p{
    font-size: small;
}

#cuerpoProducto .col{
    flex-basis: auto;
    flex-grow: unset;
}

#precioProducto{
    width: 25%;
    font-family: Times New Roman;
}

#precioProducto h5{
    color: goldenrod;
    display: inline-block;
}

.row{
    width: 100%;
}

#divMas{
    width: 15%;
}

#verMas{
    /*background-color: peru;*/
    margin-top: 40px;
    height: min-content;
}

#verMasAdmin{
    background-color: darkcyan;
    margin-top: 40px;
    height: min-content;
}

#borrarAdmin{
    background-color: darkcyan;
    margin-top: 40px;
    height: min-content;
}

#imgCard{
    height: 225px;
}

#centroCategorias{
    display:inline-block;
    box-sizing: border-box;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

