/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-mar-2020, 22:39:15
    Author     : Jesús
*/

body{
    background: white;
}


#dropdownNavbar a:hover{
    background-color: slategrey;
}

#navbarInicio{
    margin-bottom: 20px;
}

#navbarInicio .navbar-toggler{
    background-color: white;
}

#navbarInicio a:hover{
    text-decoration: underline;
}

#panel{
    background-color: darkcyan;
    color: white;
    margin: 0 25%;
    margin-bottom : 50px;
    padding: 30px;
    width:50%;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,.15)!important;
}

#error{
    color: darkred;
    font-style: italic;
    font-family: cursive;
}

#imagenPerfilNavBar{
    border: solid 2px white;
    height: 60px;
    width: 60px;
}
