/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mar-2020, 13:05:59
    Author     : luisr
*/

#evaluacion{
    color: white;
    margin: 0 1em;
    background-color: darkcyan;
    position: absolute;
    left: 18%;
    height: 90%;
    padding: 1em;
    width:63%;
}

#imagen{
    height: 25%;
    width: 25%;
    left: 45%;
    margin: 34px 25px;
    float: left;
}

#nota{
    width: 25%;
    float: right;
    margin-top: 15px;
    text-align: center;
}

#datos{
   left: 40%;
   float: right;
   width: 39%;
   margin-right: 25px;
}

#comentario{
    width: 100%;
}

#botones{
    float: left;
    margin-top: 240px;
    position: absolute;
    left: 8%;
}